.pageTitle {
    color: blueviolet;
    background-color: white;
    text-align: center;
  }
  
  /* card div */
  .d-flex {
    background-color: white;
    border-color: green;

  }

  /* global background color */
  body {
    background-color:white;
  
  }

  .card-border {
    border: 2px solid black;
    border-radius: 5px; /* Optional for rounded corners */
    padding: 15px; /* Optional padding */
  }


/* Center the title */
.pageTitle {
  text-align: center;
  font-size: 2.5rem;
  color: purple;
  margin-bottom: 20px; /* Spacing between title and the card */
}

/* Styling for the link */
.create-account-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  text-align: right;
  margin-left: 20px;
}

/* Flex container ensuring vertical centering */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


